h1 {
  text-align: center; 
}

.list-title {
  font-size: .8em;
  float: left;
}

input {
  line-height: 2em;
  margin-bottom:1em;
}

.box-wrap {
  display: flex;
  flex-direction: row;
}

.gift-form {
  border: 1px solid black;
  margin: 2em;
  padding: 2em;
  display: flex;
  flex-direction: column;
  width: 20vw;
  height: 50vh;
}

.list-box {
  border: 1px solid black;
  margin: 2em;
  padding: 2em;
  display: flex;
  flex-direction: column;
  width: 20vw;
  height: 50vh;
  overflow: scroll;
}

.f {
  float: right;
}

.display {
  position: relative;
  float: left;
}
