<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Christmas Gifts</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
      <h1>Christmas Gifts</h1>

      <form class="gift-form" name="giftform" action="" id="gift">
          <h2>Gift Submit Form</h2>
          <label>Title of Gift</label>
          <input type="text" name="title" value="" placeholder="Enter a title" id="title">
          <label>Recipient of Gift</label>
          <input type="text" name="recipient" value="" placeholder="Enter a recipient" id="recipient">
          <label>Link to Gift Picture</label>
          <input type="text" name="link" value="" placeholder="Enter link to picture" id="link">
          <label>Price of Gift</label>
          <input type="text" name="price" value="" placeholder="Enter price" id="price">
          <button type="button" value="Submit" onClick="showNewGift()">Submit</button>
      </form>


      <div class="list-box">
          <h2>Gift List</h2>
          <ul id="display">
          </ul>
      </div>

  </body>
  <script src="/js/script.js"></script>
</html>
